<h2>EDIT ORDER</h2>

<div class="container">
  <img src="/pizzapic.png" alt="Pizza Time">
</div>

<div class="container">
  <form class="orderform" action="/pizzas/<%= @pizza.id %>" method="POST">
    <div class="orderfield">
      <label for="firstName">First Name:</label>
      <input type="text" name="first_name" id="firstName" value="<%= @pizza.first_name %>">
    </div>

    <div class="orderfield">
      <label for="lastName">Surname:</label>
      <input type="text" name="last_name" id="lastName" value="<%= @pizza.last_name %>">
    </div>

    <div class="orderfield">
      <label for="pizzaSelect">Choose Pizza:</label>
      <select name="topping" id="pizzaSelect">
        <option value="Breakfast">Breakfast Style</option>
        <option value="Noodle">Noodle Style</option>
      </select>
    </div>

    <div class="orderfield">
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="<%= @pizza.quantity %>">
    </div>

    <div class="container">
      <input type="submit" value="Edit Order">
    </div>
</form>
</div>
