
<form id="orderform" action="/pizzas" method="POST">

  <label for="firstName">First Name:</label>
  <input type="text" name="first_name" id="firstName">

  <label for="lastName">Surname:</label>
  <input type="text" name="last_name" id="lastName">

  <label for="pizzaSelect">Choose Pizza:</label>
  <select name="topping" id="pizzaSelect">
    <option value="Breakfast">Breakfast Style</option>
    <option value="Noodle">Noodle Style</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity">

  <input type="submit" value="Submit Order">

</form>
